* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: center;
  background: #f2ece9;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.container .card-title {
  color: #f2aa52;
  font-weight: 900;
}
.container .card-text {
  display: flex;
  justify-content: center;
}
.container .imagencard {
  display: flex;
  justify-content: center;
}

#section_principal {
  background-color: #f2ece9;
  padding-top: 5rem;
}
#section_principal .container {
  width: 80%;
  margin: 0 auto;
}
#section_principal .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#section_principal .titulo1 {
  color: #3fbfbf;
  font-size: 200%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 900;
}
#section_principal .texto {
  display: flex;
  justify-content: center;
  text-align: center;
}
#section_principal .img_principal {
  display: flex;
  justify-content: center;
}
#section_principal .imagencard {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.container .titulo2 {
  color: #3fbfbf;
  font-size: 250%;
  text-align: center;
  padding: 1rem;
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container .ofertasynovedades {
  color: #3fbfbf;
  font-size: 250%;
  text-align: center;
  padding: 1rem;
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 700;
}
.container .textoofertasynovedades {
  text-align: center;
  color: #f2aa52;
  display: flex;
  justify-content: center;
}
.container .titulo2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.container .textoparamail {
  text-align: center;
  padding-top: 1rem;
}
.container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.texto_indu {
  color: #f2aa52;
  padding: 2rem;
  font-size: 150%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.container .container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container .redes {
  text-align: center;
  font-size: 400%;
  padding-top: 1rem;
  margin: 0;
}

.mapa {
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 2rem;
}

#section_secundaria {
  background-color: #c4e3e3;
  color: black;
  text-align: center;
  padding-top: 1rem;
  margin: 0rem;
}
#section_secundaria .container {
  width: 80%;
  margin: 0 auto;
}
#section_secundaria .footer {
  padding-top: 5rem;
  margin: 1rem;
}

.textoprincipaldebienvenida {
  text-align: center;
  color: #f2aa52;
}

.container .botonenviar {
  text-align: center;
  padding-top: 1rem;
  margin: 1rem;
}
.container .botonenviar .textoparamail {
  text-align: center;
  padding-top: 1rem;
}

.marcaregistrada {
  text-align: center;
  padding-top: 1rem;
}

.carrusel {
  text-align: center;
  margin: 1rem;
  display: flex;
}

.formulariodecontacto {
  text-align: center;
  justify-content: center;
  margin: 2rem;
  padding: 2rem;
}

.form1 {
  text-align: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

.form2 {
  text-align: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

.botonenviar {
  text-align: center;
}

.titulo2 {
  font-weight: 900;
  text-align: center;
  display: flex;
}

.redes {
  color: #f2aa52;
  text-align: center;
}

header {
  background-color: #f2ece9;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}
header .flex-container {
  display: flex;
  flex-direction: row;
}
header .container {
  width: 50%;
  margin: 0 auto;
}
header .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .colorlink {
  color: #f2aa52;
  font-weight: 700;
}
header .nav__item {
  margin-left: 0;
  display: flex;
  align-items: end;
}

/*# sourceMappingURL=style.css.map */
