header {
  background-color: #f2ece9;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1;

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  .container {
    width: 50%;
    margin: 0 auto;
  }

  .container {
    animation: logo-dd-from-right 1.5s ease;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .colorlink {
    color: #f2aa52;
    font-weight: 700;
  }

  .nav__item {
    margin-left: 0;
    display: flex;
    align-items: end;
  }
}

/* Animación nav */

@keyframes logo-dd-from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
